.contenDataU{
    width: 90%;
    height: 70vh;
    background-color: #DEDDDAFF;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}
    #contenConfi_left{
        width: 33%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #contenConfi_left h1{
        font-style: italic;
    }
        #contenConfi_left div{
            width: 100%;
            margin-top:2%;
            margin-bottom:2%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        #contenConfi_left a{
            width: 30%;
            height: 40px;
            font-style: italic;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .inputFormOpcionesU{
            width: 70%;
            height: 30px;
            border: none;
            font-size: 15px;
            font-style: italic;
            margin-left: auto;
            margin-right: 0px;
        } 
        .inputFormOpcionesU:focus{
            outline: none; 
        } 
        #guardarDatos{
            width: 100%;
        }
    #contenConfi_mid{
        width: 33%;
        height: 90%;
        margin: 1%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
        #contenConfi_mid img{
            width: auto;
            height: 90%;
        }
        #contenConfi_mid a{
            height: 10%;
            font-size: 15px;
            font-style: italic;
        }
    #contenConfi_right{
        width: 33%;
        height: 90%;
        margin: 1%; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;    
    }
        #contenConfi_right input{
            width: 80%;
            margin-top: 4%;
            margin-bottom: 4%;
            margin-left: 2%;
            margin-right: 2%; 
            background-color: #9A9996FF;
            color: black;
        }
        #contenConfi_right input:hover{
            background-color: white;
        }