.contenData{
    width: 90%;
    height: auto;
    background-color: #DEDDDAFF;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}
.contenDataM{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
    margin: 20px;
    width: 100%;
}
.contenDataM div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
.contenDataM p{
    width: 30%;
    height: 30px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputFormOpciones{
    width: 30%;
    height: 30px;
    border: none;
    font-size: 15px;
    font-style: italic;
    margin-left: auto;
    margin-right: 50px;
    text-align: center;
} 
.inputFormOpciones:focus{
    outline: none; 
} 
.oculto {
    visibility: hidden;
}
